<h1>Listing people</h1>
 
<table>
  <tr>
    <th>number</th>
    <th>long</th>
    <th>lat</th>
  </tr>
 
  <% @persons.each do |person| %>
    <tr>
      <td><%= person.number %></td>
      <td><%= person.long %></td>
      <td><%= person.lat %></td>
    </tr>
  <% end %>
</table>

Add Friend
<%= form_for :friendships, url: friendships_path(), method: :post do |f| %>

  <p>
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </p>
 
  <p>
    <%= f.label :friend_id %><br>
    <%= f.text_area :friend_id %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>
